<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>MADANI Manal</h2>
            <h4>myemail@gmail.com</h4>
        </div>
        <img src="https://cdn5.vectorstock.com/i/1000x1000/01/69/businesswoman-character-avatar-icon-vector-12800169.jpg" alt="" />
    </div>

</mat-nav-list>

<h2 matSubheader>Pages</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink='/reporting'>Dashboard</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink='powerbi'>Power BI </a>


<mat-divider></mat-divider>
 
<mat-divider></mat-divider>
 
