<div>
    <h2 id="page-heading">
        <span jhiTranslate="kompliansApp.proprietaireAction.home.title">Proprietaire Actions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proprietaire-action" [routerLink]="['/proprietaire-action/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kompliansApp.proprietaireAction.home.createLabel">
            Create a new Proprietaire Action
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="proprietaireActions?.length === 0">
        <span jhiTranslate="kompliansApp.proprietaireAction.home.notFound">No proprietaireActions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="proprietaireActions && proprietaireActions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.proprietaireAction.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.proprietaireAction.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.proprietaireAction.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.proprietaireAction.risqueaction">Risqueaction</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proprietaireAction of proprietaireActions ;trackBy: trackId">
                    <td><a [routerLink]="['/proprietaire-action', proprietaireAction.id, 'view']">{{ proprietaireAction.id }}</a></td>
                    <td>{{ proprietaireAction.nom }}</td>
                    <td>{{ proprietaireAction.prenom }}</td>
                    <td>{{ proprietaireAction.email }}</td>
                    <td>
                        <span *ngFor="let risqueaction of proprietaireAction.risqueactions; let last = last">
                            <a class="form-control-static" [routerLink]="['/risqueaction', risqueaction?.id, 'view']">{{ risqueaction.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/proprietaire-action', proprietaireAction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/proprietaire-action', proprietaireAction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(proprietaireAction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
