<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="Risque Par Processus">
      <ng-template ngbPanelContent>
        <jhi-bars></jhi-bars>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-2" title="Risque par Mois">
      <ng-template ngbPanelContent>
        <jhi-line></jhi-line>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-3" title="Criticité">
        <ng-template ngbPanelContent>
            <jhi-areas></jhi-areas>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-4" title="Matrice des Risques">
        <ng-template ngbPanelContent>
            <jhi-treemap></jhi-treemap>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-5" title="Risque Par type de Cause">
        <ng-template ngbPanelContent>
            <jhi-circle></jhi-circle>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-6" title="Traitement des Risques">
        <ng-template ngbPanelContent>
            <jhi-actiondiag></jhi-actiondiag>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-7" title="Risque Résiduel">
        <ng-template ngbPanelContent>
            <jhi-risqueresiduel></jhi-risqueresiduel>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
  
  <hr/>
  
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Risque Par Processus</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Risque par Mois</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-3')">Criticité</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-4')">Matrice des Risques</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-5')">Risque Par type de Cause</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-6')">Traitement des Risques</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-7')">Risque Résiduel</button>

  