





<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="OverView">
      <ng-template ngbTabContent>
        <jhi-dashboard></jhi-dashboard>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="PowerBI Report">
      <ng-template ngbTabContent>
        <jhi-powerbi></jhi-powerbi> 
      </ng-template>
    </ngb-tab>
    
    <ngb-tab title="Identification">
        <ng-template ngbTabContent>
            <jhi-identification></jhi-identification>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Analyse">
        <ng-template ngbTabContent>
            <jhi-analyse></jhi-analyse>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Affectation">
        <ng-template ngbTabContent>
            <jhi-treatment></jhi-treatment>
        </ng-template>
      </ngb-tab>
  </ngb-tabset>