






  <p-tabView>
    <p-tabPanel header="Processus">
      <jhi-processus></jhi-processus> 
    </p-tabPanel>
    <p-tabPanel header="Identification">
      <jhi-identification></jhi-identification>
    </p-tabPanel>
    <p-tabPanel header="Analyse">
      <jhi-analyse></jhi-analyse>
    </p-tabPanel>
    <p-tabPanel header="Affectation">
      <jhi-treatment></jhi-treatment>
    </p-tabPanel>
    <p-tabPanel header="Overview">
      <jhi-dashboard></jhi-dashboard>
    </p-tabPanel>
    <p-tabPanel header="BI Reporting">
      <jhi-powerbi></jhi-powerbi> 
    </p-tabPanel>

    
</p-tabView>