
<div class="card">
   
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"  [routerLink]="['/risque-residuel/new']"></button>
        </ng-template>
    
        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <div class="alert alert-warning" id="no-result" *ngIf="risqueResiduels?.length === 0">
        <span jhiTranslate="kompliansApp.risqueResiduel.home.notFound">No risqueResiduels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="risqueResiduels && risqueResiduels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.risque">Risque</span></th>

                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.impact">Impact</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.probabilite">Probabilite</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.detection">Detection</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let risqueResiduel of risqueResiduels ;trackBy: trackId">
                    <td>
                        <div *ngIf="risqueResiduel.risque">
                            <a [routerLink]="['/risque', risqueResiduel.risque?.id, 'view']" >{{ risqueResiduel.risque?.risquenom }}</a>
                        </div>
                    </td>
                    <td>
                        <div [ngClass]="{'outofstock': risqueResiduel.impact === 6,'high': risqueResiduel.impact === 5 ,'lowstock': risqueResiduel.impact === 4,'medium': risqueResiduel.impact === 3,'instock': risqueResiduel.impact === 2,'low': risqueResiduel.impact === 1}">
                            {{ risqueResiduel.impact }}
                        </div></td>
                    <td>
                        <div [ngClass]="{'out': risqueResiduel.probabilite  === 6,'highp': risqueResiduel.probabilite  === 5 ,'lowstockp': risqueResiduel.probabilite  === 4,'mediump': risqueResiduel.probabilite  === 3,'instockp': risqueResiduel.probabilite === 2,'lowp': risqueResiduel.probabilite  === 1}">
                            {{ risqueResiduel.probabilite }}
                        </div></td>
                    <td>{{ risqueResiduel.detection }}</td>
                   
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/risque-residuel', risqueResiduel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/risque-residuel', risqueResiduel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(risqueResiduel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
