
<div>
    <h2 id="page-heading">
      

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-risque-residuel" [routerLink]="['/risque-residuel/new']">
            <fa-icon icon="plus"></fa-icon>
    
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="risqueResiduels?.length === 0">
        <span jhiTranslate="kompliansApp.risqueResiduel.home.notFound">No risqueResiduels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="risqueResiduels && risqueResiduels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.risque">Risque</span></th>

                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.impact">Impact</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.probabilite">Probabilite</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.risqueResiduel.detection">Detection</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let risqueResiduel of risqueResiduels ;trackBy: trackId">
                    <td><a [routerLink]="['/risque-residuel', risqueResiduel.id, 'view']">{{ risqueResiduel.id }}</a></td>
                    <td>
                        <div *ngIf="risqueResiduel.risque">
                            <a [routerLink]="['/risque', risqueResiduel.risque?.id, 'view']" >{{ risqueResiduel.risque?.risquenom }}</a>
                        </div>
                    </td>
                    <td>{{ risqueResiduel.impact }}</td>
                    <td>{{ risqueResiduel.probabilite }}</td>
                    <td>{{ risqueResiduel.detection }}</td>
                   
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/risque-residuel', risqueResiduel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/risque-residuel', risqueResiduel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(risqueResiduel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
