


<p-table [value]="risqueactions" [paginator]="true" [rows]="10" sortField="rowData.proprietaireAction?.email" sortMode="single" (onSort)="onSort()"   dataKey="rowData.proprietaireAction?.email">
    
    <ng-template pTemplate="header">
        <tr>
          
            <th pSortableColumn="action">Action <p-sortIcon field="action"></p-sortIcon></th>
            <th pSortableColumn="risque">Risque  <p-sortIcon field="risque"></p-sortIcon></th>
           
            <th>Planaction</th>
            <th>Temps Action</th>
            <th>Cout Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded">
        
            <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.proprietaireAction?.email].index === rowIndex">
                <td colspan="5">
                    <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    <span class="p-text-bold p-ml-2">{{rowData.proprietaireAction?.email}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData>
            <tr [ngClass]="{'row-accessories': rowData.action === 'Agir','row-accessoriesneg': rowData.action === 'Négliger','row-accessoriesvide': rowData.action === null}">
                <td>{{rowData.action}}</td>
                <td>{{rowData.risque?.risquenom }}</td>
            <td>{{rowData.planaction}}</td>
            <td>{{rowData.tempsAction}}</td>
            <td>{{rowData.coutAction }}</td>
        </tr>
    
    </ng-template>
</p-table>