<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" [routerLink]="['/risque/new']"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<!--<mat-paginator> provides navigation for paged information, typically used with a table.

-->
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<form>
    <div class="form-group form-inline">
        search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>

<div class="mat-elevation-z8">
    <table class="table table-striped" aria-describedby="page-heading"   width="75%" height="100">
                
        <thead>
            <tr>
                <th scope="col"><span>RisqueID</span></th>
                <th scope="col"><span>Risque</span></th>
                <th scope="col"><span>Processus</span></th>

                <th scope="col"><span>Description</span></th>
                <th scope="col"><span>Impact</span></th>
                <th scope="col"><span>Probabilité</span></th>
                <th scope="col">Détection</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let risque of risques ">
            
                <td>{{ risque.id }}</td>
                <td> <ngb-highlight [result]="risque.risquenom " [term]="filter.value"></ngb-highlight></td>
                <td>
                    <div *ngIf="risque.process">
                        <a [routerLink]="['/process', risque.process?.id, 'view']" >{{ risque.process?.nameProcess }}</a>
                    </div>
                </td>
                <td>{{ risque.descrisque }}</td>
                <td>
                    <div [ngClass]="{'outofstock': risque.impact === 6,'high': risque.impact === 5 ,'lowstock': risque.impact === 4,'medium': risque.impact === 3,'instock': risque.impact === 2,'low': risque.impact === 1}">
                        {{ risque.impact }}
                    </div>
                </td>
                <td>
                    <div [ngClass]="{'out': risque.probability === 6,'highp': risque.probability === 5 ,'lowstockp': risque.probability === 4,'mediump': risque.probability === 3,'instockp': risque.probability === 2,'lowp': risque.probability === 1}">
                        {{ risque.probability }}
                    </div>
                 </td>
                    <td><div [ngClass]="{'outd': risque.detection  === 6,'highd': risque.detection  === 5 ,'lowstockd': risque.detection  === 4,'mediumd': risque.detection  === 3,'instockd': risque.detection  === 2,'lowd': risque.detection  === 1}">
                        {{ risque.detection }}
                    </div></td>

            </tr>
        </tbody>
    </table>
</div>