<div>
    <h2 id="page-heading">
        <span jhiTranslate="kompliansApp.process.home.title">Processes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-process" [routerLink]="['/process/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kompliansApp.process.home.createLabel">
            Create a new Process
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="processes?.length === 0">
        <span jhiTranslate="kompliansApp.process.home.notFound">No processes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="processes && processes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.process.nameProcess">Name Process</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.process.fonction">Fonction</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.process.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.process.date">Date</span></th>
                    <th scope="col" ><span jhiTranslate="kompliansApp.process.risque">Risque</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let process of processes ;trackBy: trackId">
                    <td><a [routerLink]="['/process', process.id, 'view']">{{ process.id }}</a></td>
                    <td>{{ process.nameProcess }}</td>
                    <td>{{ process.fonction }}</td>
                    <td>{{ process.description }}</td>
                    <td>{{ process.date }}</td>
                    <td>
                        <span *ngFor="let risque of process.risques; let last = last">
                            <a class="form-control-static" [routerLink]="['/risque', risque?.id, 'view']">{{ risque.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/process', process.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/process', process.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(process)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
