<div>
    <h2 id="page-heading">
        <span jhiTranslate="kompliansApp.risque.home.title">Risques</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-risque" [routerLink]="['/risque/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kompliansApp.risque.home.createLabel">
            Create a new Risque
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="risques?.length === 0">
        <span jhiTranslate="kompliansApp.risque.home.notFound">No risques found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="risques && risques.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="risquenom"><span jhiTranslate="kompliansApp.risque.risquenom">Risquenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descrisque"><span jhiTranslate="kompliansApp.risque.descrisque">Descrisque</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="impact"><span jhiTranslate="kompliansApp.risque.impact">Impact</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="probability"><span jhiTranslate="kompliansApp.risque.probability">Probability</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detection"><span jhiTranslate="kompliansApp.risque.detection">Detection</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let risque of risques ;trackBy: trackId">
                    <td><a [routerLink]="['/risque', risque.id, 'view']">{{ risque.id }}</a></td>
                    <td>{{ risque.risquenom }}</td>
                    <td>{{ risque.descrisque }}</td>
                    <td>{{ risque.impact }}</td>
                    <td>{{ risque.probability }}</td>
                    <td>{{ risque.detection }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/risque', risque.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/risque', risque.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(risque)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
